<ion-tabs class="tabs-icon-top tabs-color-active-primary {{hideTabs}} bg-white">
  <ion-tab title="首页" icon-off="icon-home" icon-on="icon-home-active" ui-sref="tab.index">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>
  <ion-tab title="分类" icon-off="icon-cart" icon-on="icon-cart-active" ui-sref="tab.class">
    <ion-nav-view name="tab-class"></ion-nav-view>
  </ion-tab>
  <ion-tab title="购物车" icon-off="icon-category" icon-on="icon-category-active" ui-sref="tab.shopcar">
    <ion-nav-view name="tab-shopcar"></ion-nav-view>
  </ion-tab>
  <ion-tab title="会员中心" icon-off="icon-my" icon-on="icon-my-active" ui-sref="tab.my">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>
</ion-tabs>